@model IEnumerable<CLOUD_POE_3.Models.RentalReturn>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReturnNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
